{% extends 'layout.html' %}

{% block body %}
    <form action="/prediction" method = "post">

        <!-- section 1 . -->
        <div>
            <label for="step">Enter a step for transactions:</label>
            <input type="number" name="step" min="1" value="1"><br><br>
        </div>

        <!-- section 2. -->
        <div>
            <label for="type">Enter a type for transactions: 0 for TRANSFER , 1 for CASH_OUT</label>
            <input type="number" name="type" min="0" max="1" value="0"><br><br>
        </div>

        <!-- section 3. -->
        <div>
            <label for="amount">Enter amount /</label>
            <input type="number" name="amount" min="0" value="0"><br><br>
        </div>

        <div>
            <label for="oldbalanceOrig">Enter old balance Orig :</label>
            <input type="number" name="oldbalanceOrig" min="0" value="0"><br><br>
        </div>

        <!-- section 4 . -->
        <div>
            <label for="newbalanceOrig">Enter new balance Orig</label>
            <input type="number" name="newbalanceOrig" min="0" value="0"><br><br>
        </div>

        <!-- section 5 . -->
        <div>
            <label for="oldbalanceDest">Enter old balance Dest:</label>
            <input type="number" name="oldbalanceDest" min="0" value="0"><br><br>
        </div>

        <!-- section  6 . -->
        <div>
            <label for="newbalanceDest">Enter new balance Dest:</label>
            <input type="number" name="newbalanceDest" min="0" value="0"><br><br>
        </div>

        <!-- section  7 . -->
        <input type="submit">

    </form>
{% endblock %}

   
